/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

.project-card-image {
    width: 400px;
}